[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "robnptests"]
	path = robnptests
	url = https://github.com/s-abbas/robnptests
	shallow = true
	registered = true
